@layer reset, base, tokens, recipes, utilities;

@import '@move-in/design-system/src/index.css';

ion-content.content-padding {
  --padding-top: 24px;
  --padding-bottom: 40px;
  --padding-start: 16px;
  --padding-end: 16px;
}
